@font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

* {
    font-family: "San Francisco", sans-serif;
}

body {
    margin: 30px;
}


/* Header */

header {
    height: 226px;
}

#heading {
    display: flex;
    flex-wrap: wrap;
}

#title {
    width: 50%;
    line-height: 150%;
    padding-top: 20px;
    text-align: right;
}

#name {
    font-size: 3em;
    text-align: right;
}

#picture {
    width: 50%;
}

#logo {
    width: 140px;
    height: auto;
    padding: 20px 0 0 0;
}

hr {
    border-width: 2px;
    display: flex;
    border-style: inset;
    margin: 0.5em;
}


/* Main Content */

#main-img {
    width: 100%;
    height: auto;
}

#featured-title {
    padding-left: 20px;
    font-size: 40px;
    margin: 0px;
}

#appify {
    width: 33%;
}

#sunflower {
    width: 33%;
}

#bokeh {
    width: 33%;
}

.projects img {
    width: 200px;
    height: auto;
    display: flex;
    margin: auto;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

figcaption {
    font-size: 40px;
    text-align: center;
}

figcaption,
#title {
    text-transform: uppercase;
}

#appify,
#sunflower,
#bokeh > p {
    text-align: center;
}

@media screen and (max-width: 380px) {
    #appify {
        width: 100%;
        order: 0;
        margin: 0px;
        padding: 10px;
    }
    #sunflower {
        width: 100%;
        order: 1;
        margin: 0px;
        padding: 10px;
    }
    #bokeh {
        width: 100%;
        order: 2;
        margin: 0px;
        padding: 10px;
    }
    #logo {
        width: 120px;
        height: auto;
        margin: auto;
        display: flex;
    }
    #name {
        font-size: 1em;
        text-align: center;
    }
    #description {
        font-size: 0.5em;
        text-align: center;
    }
    #featured-title {
        text-align: center;
    }
    #picture {
        order: 0;
        width: 100%;
    }
    #title {
        order: 1;
        width: 100%;
    }
    header {
        height: 300px;
    }
}

@media screen and (min-width: 381px) and (max-width: 510px) {
    #appify {
        width: 100%;
        order: 0;
        margin: 0px;
        padding: 10px;
    }
    #sunflower {
        width: 100%;
        order: 1;
        margin: 0px;
        padding: 10px;
    }
    #bokeh {
        width: 100%;
        order: 2;
        margin: 0px;
        padding: 10px;
    }
    #logo {
        width: 120px;
        height: auto;
    }
    #name {
        font-size: 1em;
    }
    #description {
        font-size: 0.5em;
    }
    #featured-title {
        text-align: center;
    }
}

@media screen and (min-width: 511px) and (max-width: 812px) {
    #appify {
        width: 100%;
        order: 0;
        margin: 0px;
        padding: 10px;
    }
    #sunflower {
        width: 100%;
        order: 1;
        margin: 0px;
        padding: 10px;
    }
    #bokeh {
        width: 100%;
        order: 2;
        margin: 0px;
        padding: 10px;
    }
    #name {
        font-size: 1.5em;
    }
    #featured-title {
        font-size: 2em;
        text-align: center;
    }
    #description {
        font-size: 1em;
    }
    figcaption {
        font-size: 2em;
    }
}

@media screen and (min-width: 813px) {
    #appify {
        width: 33%;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }
    #sunflower {
        width: 33%;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }
    #bokeh {
        width: 33%;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }
}